body{
    background-color: black;
    color: white;
}
.container{
    width: 100%;
    overflow: hidden;
}
.box{
    float: left;
    width: 33.33%;
    padding: 15px;
    color: white;
    box-sizing: border-box;
}
.LeftAlign{
    background-color: aqua;
    border: 3px solid yellow;

}
    
.CenterAlign{
    background-color: crimson;
    border: 3px solid darkblue;

}
.RightAlign{
    background-color: black;
    border: 5px solid white;
}

.button1{
    border-color: red;
    border: 5px solid blue
}

.button2{
    border: 5px solid;
    border-color: blue;
    display: flex;
    align-content: start;   
}
h1{
    text-align: center;
    margin: 0 auto;
}
a{
    color: white;
}